table {table-layout:fixed; border-collapse: collapse; margin-bottom: 3px}
td {overflow:hidden; padding: 0pt 2pt 0pt 2pt; margin: 0pt 2pt 0pt 2pt; border: solid black 1px}
th {overflow:hidden; padding: 0pt 2pt 0pt 2pt; margin: 0pt 2pt 0pt 2pt; border: solid black 1px}
.xxsmallfont   {font-size:xx-small;}
.largefont   {font-size:large;}   
.xlargefont   {font-size:x-large;}   

